/*Ajustes de classes do PrimeFaces*/ 

* .ui-messages-error {
    color: white !important;
    background-color: #F44336 !important;
    border: none !important;
    font-family: 'Roboto Medium';
}

* .ui-messages-error-icon{
    background: url('https://image.flaticon.com/icons/svg/61/61072.svg') !important;
    background-color: white;
}