@charset "UTF-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/04/2017, 12:13:58
    Author     : Sanderson
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/04/2017, 12:18:09
    Author     : Sanderson
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/04/2017, 12:37:31
    Author     : Sanderson
*/
/* latin */
@font-face {
  font-family: 'Roboto Thin';
  font-style: normal;
  font-weight: 200;
  src: local("Roboto"), local("Roboto-Thin"), url(../..//fonts/roboto/Roboto-Thin.woff2) format("woff2"); }
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto"), local("Roboto-Light"), url(../..//fonts/roboto/Roboto-Light.woff2) format("woff2"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(../..//fonts/roboto/Roboto-Regular.woff2) format("woff2"); }
@font-face {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto"), local("Roboto-Medium"), url(../..//fonts/roboto/Roboto-Medium.woff2) format("woff2"); }
@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 600;
  src: local("Roboto"), local("Roboto-Bold"), url(../..//fonts/roboto/Roboto-Bold.woff2) format("woff2"); }
.thin {
  font-family: 'Roboto Thin', sans-serif; }

.light {
  font-family: 'Roboto Light', sans-serif; }

.normal {
  font-family: 'Roboto', sans-serif; }

.medium {
  font-family: 'Roboto Medium', sans-serif; }

.bold {
  font-family: 'Roboto Bold', sans-serif; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01/05/2017, 12:37:02
    Author     : Sanderson
*/
header, main, footer {
  padding-left: 300px; }

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0; } }
/*Ajustes de classes do PrimeFaces*/
* .ui-messages-error {
  color: white !important;
  background-color: #F44336 !important;
  border: none !important;
  font-family: 'Roboto Medium'; }

* .ui-messages-error-icon {
  background: url("https://image.flaticon.com/icons/svg/61/61072.svg") !important;
  background-color: white; }

* {
  font-family: 'Roboto Light', sans-serif; }

.card-login {
  align-items: center;
  justify-content: center; }

.card-login-content {
  padding: 24px;
  flex: none; }

.h-logo {
  margin-top: 45px;
  margin-bottom: 25px;
  margin-left: 15px;
  width: 125px; }

.card {
  margin: 20px;
  padding: 30px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 17px 0px rgba(125, 125, 125, 0.46);
  -moz-box-shadow: 1px 1px 17px 0px rgba(125, 125, 125, 0.46);
  box-shadow: 1px 1px 17px 0px rgba(125, 125, 125, 0.46); }

select {
  -webkit-appearance: none;
  /* Remove estilo padr├úo do Chrome */
  -moz-appearance: none;
  /* Remove estilo padr├úo do FireFox */
  appearance: none;
  /* Remove estilo padr├úo do FireFox*/ }

option {
  padding: 5px;
  color: brown;
  border: none; }

option:hover, option:focus, option::-moz-selection {
  text-shadow: none;
  background: #f1f1f1 !important; }

*::-moz-selection {
  background: gray;
  text-shadow: none; }

.cor-principal {
  background: #183A56 !important; }

.cor-secundaria {
  background: #15C7CB !important; }

/*# sourceMappingURL=style.css.map */
