/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/04/2017, 12:13:58
    Author     : Sanderson
*/

@import 'componentes/_cores';
@import 'componentes/_fontes';
@import 'componentes/_ajustes';
@import 'componentes/_primefaces';

*{
    font-family: 'Roboto Light', sans-serif;  
}
.card-login {
    align-items: center;
    justify-content: center;
}
.card-login-content {
    padding: 24px;
    flex: none;
}

.h-logo{
    margin-top:45px;
    margin-bottom:25px;
    margin-left: 15px;
    width: 125px;
}

.card{
    margin: 20px;
    padding: 30px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 17px 0px rgba(125,125,125,0.46);
    -moz-box-shadow: 1px 1px 17px 0px rgba(125,125,125,0.46);
    box-shadow: 1px 1px 17px 0px rgba(125,125,125,0.46);
}

select {
   -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
   -moz-appearance: none; /* Remove estilo padrão do FireFox */
   appearance: none; /* Remove estilo padrão do FireFox*/
}

option {
    padding: 5px;
    color: brown;
    border: none;
}

option:hover, option:focus, option::-moz-selection {
    text-shadow: none;
    background: #f1f1f1 !important;
}

*::-moz-selection {
    background: gray;
    text-shadow: none;
}

#login {
   background-image: url('../img/bg-login.jpg');
   height: 100vh;
   background-size: cover;
}

.cor-principal{
    background: $cor-principal !important;
}

.cor-secundaria{
    background: $cor-secundaria !important;
}